body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
a,
p,
button,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* --------------- HEADER --------------- */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 17px 0;
}

.logo-span {
    color: #2e2f42;
}

.nav-list {
    display: none;
}

.address {
    font-style: normal;
    display: none;
}

.mob-menu-open-btn {
    border: none;
    background-color: transparent;
    line-height: 0;
}

@media screen and (min-width: 768px) {
    .logo {
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
    }

    .current {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #404bbf;
    }

    .current::after {
        content: "";
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        position: absolute;
        left: 0;
        bottom: -1px;
    }

    .address {
        display: block;
    }
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-top: 16px;
    }
    .address-item {
        display: block;
        color: #434455;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-item:hover,
    .address-item:focus {
        color: #404bbf;
    }

    .mob-menu-open-btn {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 0;
    }

    .address-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }
}

.mob-modal-menu {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}

.mob-modal-menu.is-open {
    opacity: 1;
    pointer-events: auto;
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-left: 16px;
    padding-top: 72px;
    margin-bottom: 168px;
}

.mob-menu-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-menu-list-link:hover,
.mob-menu-list-link:focus {
    color: #404bbf;
}

.mob-menu-list-link.mob-current {
    color: #404bbf;
}

.mob-address {
    font-style: normal;
    padding-left: 16px;
    margin-bottom: 48px;
}
.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-address-link:hover,
.mob-address-link:focus {
    color: #4d5ae5;
}

.mob-address-link.mob-current {
    color: #4d5ae5;
}

.mob-menu-icon-list {
    padding-left: 16px;
    gap: 40px;
    justify-content: start;
}
/* ----------------------------------------- */

/* --------------- HERO --------------- */

.hero {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../images/po-mob.jpg);
    min-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/po-mob@2x.jpg);
    }
}

.hero-title {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

    margin: 0 auto 72px auto;
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .hero {
        min-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/po-tab.jpg);
    }

    .hero-title {
        min-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/po-tab@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        min-width: 1158px;
        padding: 188px 0;
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/po-dt.jpg);
    }

    .hero-title {
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/po-dt@2x.jpg);
    }
}

/* ---------------------------------------- */

/* ----------------- ADVANTAGES ------------------ */

.advantages {
    padding: 96px 0;
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.advantages-list-item {
    /* width: calc((100% - 72px) / 4); */
}

.icon-wrapper {
    display: none;
}

.advantages-list-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.advantages-list-item-text {
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .advantages-list {
        gap: 72px 24px;
    }

    .advantages-list-item {
        width: calc((100% - 24px) / 2);
    }

    .advantages-list-item-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        width: 100%;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .advantages-list {
        gap: 24px;
    }

    .advantages-list-item {
        width: calc((100% - 24px * 3) / 4);
    }

    .advantages-list-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        /* text-align: left; */
    }

    .advantages-list-item-text {
        font-weight: 400;
        font-size: 16px;
    }
}

/* ------------------------------------------------ */

/* ------------------- OUR TEAM ----------------- */

.team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
}

.team-list-item {
    background-color: #fff;
    /* flex-basis: calc((100% - 3 * 24px) / 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-item-container {
    padding: 32px 0;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-text {
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 8px;
}

.icon-list {
    display: flex;
}

.team-icon-list {
    gap: 24px;
    justify-content: center;
}

.icon-list-item {
    width: 40px;
    height: 40px;
}

.icon-list-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-list-item-link:hover,
.icon-list-item-link:focus {
    background-color: #404bbf;
}

.icon-style {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-list {
        gap: 64px 24px;
    }

    .team-list-item {
    }
}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }
}
/* ------------------------------------------------ */

/* -------------------- PORTFOLIO ------------------ */
.portfolio {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding: 96px 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
    /* column-gap: 24px;
    row-gap: 48px; */
}
.portfolio-list-item {
    /* width: calc((100% - 48px) / 3); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-overlay-wpapper {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item-img-mob {
    width: 288px;
    /* height: 280px; */
}

.portfolio-list-item-img-tab {
    display: none;
}

.portfolio-list-item-img-dt {
    display: none;
}

.portfolio-list-item:hover .img-overlay-text {
    transform: translateY(0);
}

.img-overlay-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    width: 100%;
}

.portfolio-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-item-text {
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        gap: 72px 24px;
    }
    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-list-item-img-mob {
        display: none;
    }

    .portfolio-list-item-img-tab {
        display: block;
        width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        gap: 48px 24px;
    }
    .portfolio-list-item {
        width: calc((100% - 24px * 2) / 3);
    }

    .portfolio-list-item-img-tab {
        display: none;
    }

    .portfolio-list-item-img-dt {
        display: block;
        width: 360px;
    }
}

/* --------------------------------------------------- */

/* ----------------- FOOTER --------------------- */
.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    /* align-items: baseline; */
    align-items: center;
    justify-content: center;
}

.footer-logo-wrapper {
    /* margin-right: 120px; */
}
.footer-logo {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

    text-align: center;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: #f4f4fd;
}
.footer-text {
    color: #f4f4fd;
    /* max-width: 264px; */
}

.footer-icon-list-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.footer-icon-list {
    gap: 16px;
}

/* .footer-link {
    transition: none;
} */

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.subscribe-form-container-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.subscribe-form-input-email {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;
}

.subscribe-form-input-email::placeholder {
    color: #fff;
}
.subscribe-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button-icon {
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 96px 92px;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-container {
        justify-content: flex-start;
        align-items: baseline;
    }

    .footer-logo {
        text-align: left;
    }
    .footer-icon-list-text {
        text-align: left;
    }
    .subscribe-form-container-text {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer-text {
        max-width: 264px;
        margin-right: 40px;
    }

    .footer-container {
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 80px;
    }

    .subscribe-form {
        flex-wrap: nowrap;
    }
}

/* -------------------- MODAL ------------------ */

.modal-overlay {
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    border-radius: 4px;
    width: 288px;
    /* width: 408px; */
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 16px 16px;

    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-button-icon-style {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover > .modal-close-button-icon-style,
.modal-close-button:focus > .modal-close-button-icon-style {
    fill: #fff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-container {
    margin-bottom: 8px;
}

.form-lable {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-container {
    position: relative;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4d5ae5;
}

.modal-input-icon-style {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-input-icon-style {
    fill: #4d5ae5;
}

.form-textarea-container {
    margin-bottom: 16px;
}

.form-textarea {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    height: 120px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-textarea:focus {
    border-color: #4d5ae5;
}

.checkbox-container {
    margin-bottom: 24px;
}

.checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.label-span {
    height: 16px;
    width: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.form-checkbox:checked + label > span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.label-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.form-button {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal {
        padding: 72px 24px 24px 24px;
        width: 408px;
    }
}
